exclude: '^(.*egg.info.*|.*/parameters.py).*$'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
        exclude: .github/repo_meta.yaml
    -   id: debug-statements
-   repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
        - id: isort
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.34.0
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
-   repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
        - id: black
          args:
              - --safe
          language_version: python3
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.2.0
    hooks:
    -   id: insert-license
        name: insert-py-license
        files: >
            (?x)^(
                src/snowflake/sqlalchemy/.*\.py|
                tests/.*\.py|
                setup.py
            )$
        args:
            - --license-filepath
            - license_header.txt
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear == 20.11.1
